<div id="<%= dom_id flight %>">
  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport.location %>
  </p>
  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport.location %>
  </p>
  <p>
    <strong>Departure:</strong>
    <%= flight.pretty_departure %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= flight.pretty_duration %>
  </p>
</div>
