<turbo-frame class="flight" id="<%= dom_id flight %>" loading="lazy">
  <div class="flight__airport">
    <strong>Flying from:</strong>
    <%= flight.departure_airport.location %>
  </div>
  <div class="flight__flight-duration">
    <p><%= "Departing on #{flight.pretty_departure_full}" %></p>
    <p><%= flight.pretty_duration %></p>
    <p><%= "Landing on #{(flight.pretty_arrival)}" %></p>
  </div>
  <div class="flight__airport">
    <strong>Flying to:</strong>
    <%= flight.arrival_airport.location %>
  </div>
</turbo-frame>
