<div id="<%= dom_id flight %>">
  <p>
    <strong>Arrival airport:</strong>
    <%= flight.arrival_airport %>
  </p>

  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
