<p style="color: green"><%= notice %></p>
<h1>Flights</h1>
<%= form_with url: flights_path, scope: :flight, method: :get, data_turbo_method: :get, class: '' do |form| %>
  <%= form.collection_select :arrival_airport, @airports, :code, :location, { selected: @current_search[:arrival_airport], include_blank: 'None'}, { onchange: "this.form.requestSubmit()" } %>
  <%= form.collection_select :departure_airport, @airports, :code, :location, { selected: @current_search[:departure_airport], include_blank: 'None'}, { onchange: "this.form.requestSubmit()" } %>
  <%= form.select :num_passengers, options_for_select((1..4).to_a) %>
  <%= form.collection_select :departure, @departures, :id, :name, { selected: @current_search[:departure_time], include_blank: 'None'}, { onchange: "this.form.requestSubmit()" } %>
  <%= form.submit 'Search', id: 'flight-submit' %>
<% end %>
<%= turbo_frame_tag 'flights-list' do %>
  <% @flights.each do |flight| %>
    <%= render flight %>
  <% end %>
<% end %>
