<p style="color: green"><%= notice %></p>
<h1>Flights</h1>
<%= form_with url: flights_path, method: :get, data_turbo_method: :get, class: '' do |form| %>
  <%= form.collection_select :arrival_airport, @airports, :code, :location, { selected: @current_search[:arrival_airport], include_blank: 'None'}, { onchange: "this.form.requestSubmit()" } %>
  <%= form.collection_select :departure_airport, @airports, :code, :location, { selected: @current_search[:departure_airport], include_blank: 'None'}, { onchange: "this.form.requestSubmit()" } %>
  <%= form.select :num_passengers, options_for_select((1..4).to_a) %>
  <%= date_select_fields(form:, array: @departures, field_name: 'departure', current_value: @current_search[:departure_time]) %>
  <%= form.submit 'Search', id: 'flight-submit', readonly: true, placeholder: 'Select Date...' %>
<% end %>
<%= turbo_frame_tag 'flights-list' do %>
  <% @flights.each do |flight| %>
    <%= render flight %>
  <% end %>
<% end %>
