<div class="booking-form">
  <%= form_with model: booking, id: 'booking-form' do |form| %>
    <%= form.hidden_field :flight_id %>
    <% if booking.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="booking__flight"><%= render 'flights/flight', flight: booking.flight %></div>
    <div class="passengers-list">
      <%= form.fields_for :passengers do |passenger_form| %>
        <div class="passengers-list__entry">
          <div class="passengers-list__input">
            <%= passenger_form.label :name, 'Name' %>
            <%= passenger_form.text_field :name %>
          </div>
          <div class="passengers-list__input">
            <%= passenger_form.label :email, 'Email' %>
            <%= passenger_form.text_field :email %>
          </div>
          <% unless booking.new_record? %>
            <div class="passengers-list__input passengers-list__input--small-text">
              <%= passenger_form.label :name, 'Remove?' %>
              <%= passenger_form.check_box :_destroy %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
